.app {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  column-gap: 8px;
}

.mainContent {
  background-color: #e3e3e3;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  border-radius: 4px;
  margin: 8px 8px 8px 0;
  padding: 10px;
}