* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
  border-right: 1px solid #ccc;
  height: 100vh;
}